.blogDetail {
  padding: 120px 90px;
}
.blogDetail h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  line-height: 1.14;
  color: #fff;
  padding-bottom: 2.5rem;
}
.card-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 2560px) {
    .card-container {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  
  /* For full HD screens and larger */
  @media (min-width: 1200px) and (max-width: 2559px) {
    .card-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

@media (min-width: 992px) and (max-width: 1199px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .card-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
}
}
