.recent-work {
  height: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recent-work h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  line-height: 1.14;
  text-align: center;
  color: #e6e6e6;
  padding-bottom: 20px;
}
.recent-work p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: rgba(230, 230, 230, 0.51);
  padding-bottom: 50px;
 max-width: 500px;
 width: 100%;
}
.recent-work h1 span {
  color: #194bfd;
}
.work__filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  left: 0;
  column-gap: 1.875rem;
  margin-bottom: 2.5rem;
}
.work__filters span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
}

.work__item {
  cursor: pointer;
}
.work__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.work__card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 301px;
  height: 163px;
}
.work__mask {
  background: #6c6ce5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}
.work__card:hover .work__mask {
  opacity: 0.9;
}
.work__category {
  color: #fff;
  background-color: var(--first-color);
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  font-size: var(--small-font-size);
  display: inline-block;
  padding: 0.19rem 0.625rem;
  transform: translateY(-40px);
  transition: 0.3s;
}
.work__title {
  color: #fff;
  font-size: var(--h3-font-size);
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 3.75rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}
.work__button {
  color: #fff;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: 0.3s;
  opacity: 0;
}
.active {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  padding: 10px 20px;
  border-radius: 30px;

  background: linear-gradient(140deg, #194bfd 0%, #ad13fb 100%);
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.work__item:hover,
.work__item:active {
  animation: scaleAnimation 0.3s forwards; /* Apply animation on hover/active */
}

.work__card:hover .work__button {
  opacity: 1;
}
.work__card:hover .work__title,
.work__card:hover .work__category {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1024px) {
  .work__filters {
    justify-content: center;
  }
  .work__container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: 310px;
  }
  .work__filters {
    row-gap: 0.25rem;
  }
}

@media screen and (max-width: 350px) {
  .work__container {
    grid-template-columns: 1fr;
  }
}
